<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="POSTGRES_HOST" value="127.0.0.1" force="true"/>
        <env name="POSTGRES_PORT" value="5432" force="true"/>
        <env name="POSTGRES_DB" value="eventstore" force="true"/>
        <env name="POSTGRES_USER" value="eventstore" force="true"/>
        <env name="POSTGRES_PASS" value="eventstore123" force="true"/>
        <env name="MYSQL_HOST" value="127.0.0.1" force="true"/>
        <env name="MYSQL_PORT" value="3306" force="true"/>
        <env name="MYSQL_DB" value="eventstore" force="true"/>
        <env name="MYSQL_USER" value="eventstore" force="true"/>
        <env name="MYSQL_PASS" value="eventstore123" force="true"/>
        <env name="MYSQL_CHARSET" value="utf8" force="true"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
        <log type="coverage-clover" target="tests/_output/clover.xml"/>
    </logging>
</phpunit>
